*{
	outline: px solid red !important;
}

.mainContainer{
	width: 100%;
	height: 600px;
	padding: 100px;
}

.mainCintillo{
  width: 50%;
  height: 60px;
  padding: 100px;
}

.mainText{
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #fff;
}

#div1 {
	width: 100%;
	height: 200px;
}

#div2 {
	width: 100%;
	height: 100px;
	line-height: 110px;
	border-radius:10: 

}

#div2 h1{
	float: left;
	font-weight: 400px;
	color:#515151; 
	cursor: pointer;
	margin-left: 10px;
}

#div2 ul{
	float: right;
	position: relative;
	margin-right: 20px;
	line-height: 105px;
}

#div2 ul li{
	list-style-type: none;
	display: inline-block;

}

#div2 ul li a{
	padding:15px;
	text-decoration: none;
	color: grey;
}

#div2 ul li:hover a{
	background: #9c27b0; 
	color: #fff;
	transition: all 0.80s;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#div2 ul li:hover #menu_active a{
	background: #9c27b0; 
	color: #fff;
	transition: all 0.80s;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#menu_active ul li:hover #menu_active a{
	background: #9c27b0; 
	color: #fff;
	transition: all 0.80s;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#div2 ul li:hover ul {
	display: block;
}

.spaceText{
	padding-left: 55px;
}

.iconCenter{
	vertical-align: middle;
}

/* CARDS */

/* THE MAINCONTAINER HOLDS EVERYTHING */
.MainContainerCards{
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: none;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #d73e15;
  color: #fff;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront p, .theback p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

img{
 max-width: 100%;
}

video {
 max-width: 100%; 
}